<div class="resetPwd_body">
    <div class="resetPwd_center">
      <div class="resetPwd_box col-md-3 ">
        <div class="resetPwd_head">
          Réinitialiser le mot de passe
        </div>
  
        
  
        <div *ngIf="isReset">
          <mat-icon>
              done
          </mat-icon>
          Un email de réinitialisation de mot de passe vous a été envoyer. Veuillez suivre les instructions indiqué.
        </div>
        
        <div *ngIf="!isReset">
            <div *ngIf="(errorMessage!=='')" class="alert alert-warning" role="alert">
                {{errorMessage}}
              </div>
            <div class="resetPwd_form">
              <form >
                <div class="form-group">
                  <label> Votre adresse email:</label>
                  <input [(ngModel)]="email" name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Adresse email">
                </div>
                <div class="signUp">
                  <button (click)="onResetPwd()" type="submit" class="btn btn-primary btn-block btn-success">GO</button>
                  <a href="/login" >Retour</a>
                </div>
              </form>
            </div>
        </div>
    
      </div>
    </div>
  </div>
  
  
