h4{
   text-align:center;
   font-family: 'Quicksand', sans-serif;
}
label{
   color: #A3CB38;
   font-weight: bold; 
}

.grid_title{
   border-left: #A3CB38 solid 2px;
   height: 100%;
  
}
.default_numbers{
   font-family: 'Quicksand', sans-serif;
   font-size: 30px;
}
.grid_title:hover{
   background-color: #A3CB38;
   color: white;
}
table{
   height: 100%;
   border-collapse: separate;
   border-spacing: 10px;
}
.smaller {
   font-size: 15px;
   padding-bottom: 15px;
   vertical-align: super;
 }
 .progress-wrapper {
   position: relative;
   margin: 20px auto;
   font-size: 16px;
   text-align: center;
 }
 .current {
   position: absolute;
   font-weight: 100;
   line-height: 1;
 }
 ._center{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
 }
 .solde{
   font-family: 'Quicksand', sans-serif;
   font-size: 50px;
   color: #A3CB38;
   text-align: center;
 }
 .header{
   height: 70px;
   align-items: center;
   display: flex;
   font-weight: bold;
   font-size: 15px;

 }
 .synthes_1{
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;

 }
 .synthes_2{
   font-size: 13px;
   text-transform: uppercase;
   background-color: #f0fde6;
}
 .mvnt{
    height: 50px;
    align-items: center;
    display: flex;
    line-height: 14px;
    margin-bottom: 2px;
 }
 ._subtitle{
    font-size: 11px;
    color: #7e89a0;
    margin-top: 0%;
 }
 ._date{
   font-weight: bold;
   color: #747d8c;
   font-size: 13px;
 }
 ._amount{
   font-weight: bold;
   justify-content: right;
   font-size: 13px;
 }
 ._title{
   font-size: 13px;
 }