.signUp_body{
  background-color: #8bc34a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%238bc34a' width='11' height='11'/%3E%3Crect fill='%238dc44c' x='10' width='11' height='11'/%3E%3Crect fill='%238fc44e' y='10' width='11' height='11'/%3E%3Crect fill='%2391c54f' x='20' width='11' height='11'/%3E%3Crect fill='%2394c651' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%2396c653' y='20' width='11' height='11'/%3E%3Crect fill='%2398c755' x='30' width='11' height='11'/%3E%3Crect fill='%239ac856' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%239cc858' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%239ec95a' y='30' width='11' height='11'/%3E%3Crect fill='%23a0ca5c' x='40' width='11' height='11'/%3E%3Crect fill='%23a2cb5e' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23a4cb5f' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23a6cc61' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23a8cd63' y='40' width='11' height='11'/%3E%3Crect fill='%23a9cd65' x='50' width='11' height='11'/%3E%3Crect fill='%23abce67' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23adcf69' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23afcf6a' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23b1d06c' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23b3d16e' y='50' width='11' height='11'/%3E%3Crect fill='%23b5d170' x='60' width='11' height='11'/%3E%3Crect fill='%23b6d272' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23b8d374' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23bad476' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23bcd477' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23bdd579' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23bfd67b' x='70' width='11' height='11'/%3E%3Crect fill='%23c1d67d' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23c2d77f' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23c4d881' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23c6d983' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23c7d985' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23c9da87' x='80' width='11' height='11'/%3E%3Crect fill='%23cbdb89' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23ccdb8b' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23cedc8c' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23cfdd8e' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23d1de90' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23d2de92' x='90' width='11' height='11'/%3E%3Crect fill='%23d4df94' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23d5e096' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23d7e198' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23d8e19a' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23dae29c' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23dbe39e' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23dde4a0' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23dee5a2' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e0e5a4' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e1e6a6' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e2e7a8' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e4e8aa' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e5e8ac' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23e6e9af' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23e8eab1' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23e9ebb3' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23eaecb5' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ececb7' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ededb9' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}
.signUp_center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signUp_box{
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #636e72;
}
.signUp_head{
  margin-bottom: 5%;
  border-bottom: 1px solid #28a745;
  text-align: center;
  font-size: 18px; color: #28a745;
}
.signUp_form{
  padding: 5%;
  font-size: 14px; color: silver;
}

a{
  text-decoration: underline;
  color: #28a745;
}

a:link,a:visited,a:hover,a:active {
  color: #28a745;
}

.login{
  text-align: center; font-size: 19px;
  margin-top: 10%;
}

