@import '~ngx-toastr/toastr.css';


html,body{
  width:100%;
  height:100%;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card{
  margin-top: 20px;
}
.mat_card_width{
margin-left: 20px; margin-right: 20px;
}